<div class="wrapper">
  <div class="container text-center">
    <h3 id=about> A bit about myself </h3>
    <div class="about-content-pic">
      <img class="profile-avatar" src="/images/profile_image.jpg" alt="Morty's pic">
      <p> *not actual picture</p>
    </div>
    <div class="about-content">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="about-content-bio">
            <h4>20 sec. bio</h4>
            <br>
            <p> <%= data.landing[1].twenty_bio %> </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="about-content-trivia">
            <h4>Random Trivia</h4>
            <br>
            <ul>
              <li> <%= data.landing[2].trivia_one %></li>
              <li> <%= data.landing[2].trivia_two %></li>
              <li> <%= data.landing[2].trivia_three %></li>
              <li> <%= data.landing[2].trivia_four %></li>
              <li> <%= data.landing[2].trivia_five %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
